@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('./_reset.css');



:root {
    --color-light-blue: #0089ED;
    --color-white: #FFFFFF;
    --size-title: 34px;
    --size-subtitle: 24px;
    --size-text:13px;
    --size-logo:20px;
    --font-description: 'Poppins', sans-serif;

}


header{
    background-color: var(--color-light-blue);
    display: flex;
    height: 25px;
    width: 100vw;
}

.header-logo {
    font-family: var(--font-description);
    font-size: var(--size-logo);
    font-weight: 600;
    color: var(--color-white);
    margin-top: 42px;
    margin-left: 31px;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top-half-left {
    display:flex;
    flex-direction: row;
    padding-right: 73px;
    justify-content: space-between;
    background-color:var(--color-light-blue);
    width: 100%;
    max-height: 50vh;
}

.description {
    flex-direction: column;
    color:var(--color-white);
    width: 320px;
    height: 224px;
    margin-left: 73px;
    margin-top: 110px;
    position: relative;

}

.description-title {
    font-family: var(--font-description);
    font-size: var(--size-title);
    font-weight: 600;
    width: 174px;
    height: 51px;

}

.description-subtitle {
    font-family: var(--font-description);
    font-size: var(--size-subtitle);
    font-weight: 400;
    width: 396px;
    height: 36px;
    z-index: 0;
    
}

.description-text {
    font-family: var(--font-description);
    font-size: var(--size-text);
    font-weight: 300;
    padding-top: 22px;
    width: 311px;
    height: 115x;
}
.character-figure {
    display:flex;
    height: 385px;
    width: 0px;
    margin-top: 0px;
}

.container-form {
    background-color: var(--color-white);
    border-radius:40px ;
    width: 539px;
    height: 741px;
    display: flex;
    margin-top: 79px;  
    margin-left:78px;
    padding: 44px;
}

.form-content {
    display:flex;
    flex-direction: column;}

.header-form {
    display:flex;
    gap:10%;
}

.header-form-left {
    display:flex;
    flex-direction:row;
    width: 50%;
}

.form-welcome {
    color:#8D8D8D;
    font-family: var(--font-description);
    font-weight: 400;
    font-size:21px;
}
.lorem {
    color: var(--color-light-blue);
    font-family: var(--font-description);
    font-weight: 600;
    font-size:21px; 
    width: 50%;
}

.form-sing-in {
    color: #000000;
    font-family: var(--font-description);
    font-weight: 500;
    font-size:55px; 
    margin-top: 1px;
    width: 50%;
}

.form-account {
    font-family: var(--font-description);
    font-weight: 400;
    font-size:13px;
    color:#8D8D8D;
}

.form-sing-up {
    font-family: var(--font-description);
    font-weight: 400;
    font-size:13px;
    color: var(--color-light-blue);

}

.label-form{
    font-family: var(--font-description);
    font-weight: 400;
    font-size:16px;
    color: #000000; 
    Width: 100%;
    Height: 24px;
    padding:10;
}

.input-form {
    Width: 100%;
    Height: 57px;
    background-color: var(--color-white);
    border: solid 1px;
    border-color:var(--color-light-blue);
    border-radius:9px;
    box-sizing: border-box;
    padding-left: 25px;
}

.input-form::placeholder {
    font-family: var(--font-description);
    font-weight: 300;
    font-size:14px;
    color: #808080;
    
}
/*
.social-login {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
 
}

.social-login-button-google{
    display:flex;
    
}

.social-login-button-face-apple {
    display: flex;
    padding-left: 20px;
    gap:13px;
}

.login-google {
    display: flex;
    Width: 298px;
    Height: 55px;
    border: none;
    border-radius: 9px;
    background-color: #E9F1FF;
    color:var(--color-light-blue); 
}


.text-google {
    font-family:var(--font-description);
    font-weight: 400;
    font-size:16px;
    padding: 15px 68px 16px 10px;
}
.img-google {
    Width: 26px;
    Height: 26px;
    padding: 15px 8px 14px 21px;
}

.login-buttons {
    Width: 60px;
    Height: 55px;
    background-color: #E9F1FF;
    border: none;
    border-radius: 9px;
}
*/
.enter-username {
    display: flex;
    flex-direction: column;
    gap:13px
}