@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('./_reset.css');

:root {
    --color-light-blue: #0089ED;
    --color-white: #FFFFFF;
    --size-title: 2.125rem;
    --size-subtitle: 1.5rem;
    --size-text: 0.8125rem;
    --size-logo: 1rem;
    --font-description: 'Poppins', sans-serif;
}
 * {
    box-sizing: border-box;
 }

form {
    width: 100%;
}

/* --- GERAL --- */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container-blue {
    display: flex;
    background-color: var(--color-light-blue);
    height: 50vh;
    padding-bottom: 4rem;

}

.container-container {
    display: flex;
    justify-content: center;
    width: 100%;
    width: fit-content;
    height: fit-content;

}

/* --- LADO ESQUERDO --- */

.top-half-left {
    width: 50%;
    display: flex;
}

.top-half-left-text {
    display: flex;
    flex-direction: column;
}

.top-half-left-figure {
    display: flex;
}

.character-figure {
    display: flex;
    width: 100%;
}

.your-logo {
    font-family: var(--font-description);
    font-size: var(--size-logo);
    font-weight: 600;
    color: var(--color-white);
    height: 1.8rem;
    padding-top: 1.8rem;
    padding-left: 2.6rem;

}

.description {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: var(--color-white);
    width: 20rem;
    height: 13rem;
    padding-left: 4.5rem;
    padding-top: 4rem;
 
}

.description-title {
    font-family: var(--font-description);
    font-size: var(--size-title);
    font-weight: 600;
    height: 51px;
}

.description-subtitle {
    display: flex;
    font-family: var(--font-description);
    font-size: var(--size-subtitle);
    font-weight: 400;
    height: 5.4rem;
    z-index: 0;
    width: 23rem;
}

.description-text {
    font-family: var(--font-description);
    font-size: var(--size-text);
    font-weight: 100;
    width: 19.4375rem;
    height: 7rem;
    line-height: 100%;
    padding-top: 1.3rem;
}

/* --- LADO DIREITO (FORMULÁRIO) --- */

.top-half-right {
    width: 50%;
    padding: 2rem;

}

.container-form {
    background-color: var(--color-white);
    border-radius: 2.5rem;
    width: 33rem;
    height: 45rem;
    padding: 2.75rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    z-index: 2;
    box-sizing: border-box;
}

.header-form {
    display: flex;
    gap: 5%;
}

.header-form-left {
    display: flex;
    flex-direction: column;
}

.header-form-rigth {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: right;
}

.form-welcome {
    color:#000000;
    font-family: var(--font-description);
    font-weight: 400;
    font-size: 1.3rem;
    height: 2.8rem;
}

.lorem {
    color: var(--color-light-blue);
    font-family: var(--font-description);
    font-weight: 600;
    font-size: 1rem;
    width: 50%;
    height: 2.8rem;
}

.form-sing-in {
    display: flex;
    color: #000000;
    font-family: var(--font-description);
    font-weight: 500;
    font-size: 3rem;
    height: 5.1rem;
    align-items: center;
}

.form-account {
    font-family: var(--font-description);
    font-weight: 400;
    font-size: 0.8125rem;
    color: #8D8D8D;
    height: 1.25rem;
}

.form-sing-up { 
    font-family: var(--font-description);
    font-weight: 400;
    font-size: 0.8125rem;
    color: var(--color-light-blue);
    height: 1.25rem;
}

.form-sing-up:hover {
    color: #006CB3; /* Cor mais escura no hover */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    transform: scale(1.05); /* Dá um pequeno aumento de tamanho */
    cursor: pointer; /* Aponta que o link é clicável */
}

/* --- LOGIN SOCIAL --- */

.social-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.625rem;
}

.social-login-button-google {
    display: flex;
}

.social-login-button-face-apple {
    display: flex;
    padding-left: 1.25rem;
    gap: 0.8125rem;
}

.login-google {
    display: flex;
    height: 3.4375rem;
    border: none;
    border-radius: 0.5625rem;
    background-color: #E9F1FF;
    color: var(--color-light-blue);
}

.login-google:hover {
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para destacar */
}

.text-google {
    font-family: var(--font-description);
    font-weight: 400;
    font-size: 1rem;
    padding: 0.9375rem 3rem 1rem 0.625rem;
}

.text-google:hover {
    color: #006CB3; /* Cor mais escura no hover */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    transform: scale(1.05); /* Dá um pequeno aumento de tamanho */
    cursor: pointer; /* Aponta que o link é clicável */
}

.img-google {
    padding: 0.9375rem 0.5rem 0.875rem 1.3125rem;
}

.login-buttons {
    width: 3.75rem;
    height: 3.4375rem;
    background-color: #E9F1FF;
    border: none;
    border-radius: 0.5625rem;
}

.login-buttons:hover {
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para destacar */
}

/* --- CAMPOS DO FORMULÁRIO --- */

.form-content {
    display: flex;
    flex-direction: column;
    padding-top: 2.688rem;
}

.enter-username,
.enter-password {
    display: flex;
    flex-direction: column;
    gap: 0.813rem;
}

.enter-password {
    padding-top: 1.188rem;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    font-family: var(--font-description);
    font-weight: 400;
    font-size: 0.813rem;
    color: var(--color-light-blue);
    padding-top: 0.75rem;
}

.forgot-password:hover {
    color: #006CB3; /* Cor mais escura no hover */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    transform: scale(1.05); /* Dá um pequeno aumento de tamanho */
    cursor: pointer; /* Aponta que o link é clicável */
}


.label-form {
    font-family: var(--font-description);
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
    width: 100%;
    height: 1.5rem;
}

.input-form {
    width: 100%;
    height: 3.5625rem;
    background-color: var(--color-white);
    border: solid 1px var(--color-light-blue);
    border-radius: 0.5625rem;
    box-sizing: border-box;
    padding-left: 1.5625rem;
}

.input-form::placeholder {
    font-family: var(--font-description);
    font-weight: 300;
    font-size: 0.875rem;
    color: #808080;
}

.input-small {
    border-color: var(--color-light-blue);
    border-radius: 0.563rem;
    width: 100%;
}

.btn-sing-up {
    padding-top: 3.938rem;
}

.btn-submit-sing-up {
    width: 100%;
    height: 3.375rem;
    background-color: var(--color-light-blue);
    color: var(--color-white);
    font-family: var(--font-description);
    font-size: 1rem;
    border: none;
    border-radius: 0.625rem;
}

.btn-submit-sing-up:hover {
    background-color: #006CB3; /* Cor mais escura para o hover */
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    cursor: pointer; /* Indica que é um botão clicável */
}



/* --- PERFIS SALVOS --- */

.account {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 4.5rem;
    padding-top: 3.3rem;
}

.account-login {
    display: flex;
    flex-direction: column;
    font-family: var(--font-description);
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
    padding-bottom: 1.625rem;
}

.account-profile {
    display: flex;
    gap: 1.938rem;
}

.saved-account-profile {
    display: flex;
    flex-direction: column;
    width: 9.063rem;
    height: 10.25rem;
    background-color: #EFF8FF;
    border: none;
    border-radius: 0.563rem;
}

.btn-delete {
    display: flex;
    align-self: flex-end;
    width: 0.813rem;
    height: 0.813rem;
    border-radius: 50%;
    padding-top: 0.2rem;
    padding-right: 0.2rem;
}


.profile-image {
    display: flex;
    align-self: center;
    width: 4.75rem;
    height: 4.75rem;
    font-weight: 500;
}

.profile-name {
    display: flex;
    align-self: center;
    font-family: var(--font-description);
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    padding: 0.525rem;
}

.profile-activity {
    display: flex;
    align-self: center;
    font-family: var(--font-description);
    font-size: 0.813rem;
    font-weight: 300;
    color: #ADADAD;
}

@media (max-width: 412px) {
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .container, .container-blue, .container-container, .container-form {
      width: 100% !important;
      height: 100% !important;
      min-width: 0;
      min-height: 0;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .container-form {
      border-radius: 0;
      box-shadow: none;
      padding: 1rem;
    }
  }


@media (max-width: 1184px) {
    .character-figure, .top-half-left-figure {
        display: none;
    }

    .account {
        display: none;
    }

    .top-half-left {
        width: 40%;
        height: 20%;
    }

    .your-logo {
        display: none;
    }
}

@media (max-width: 957px) {
    .top-half-left-text {
        display: none;
    }

    .container-blue {
        width: 100%;
        height: 100%;
    }
}



